<template name="All">
	<div class="container">
		<h1>All Logs</h1>
		<ul class="list-unstyled">
			{{#each list}}
			<li class="col-md-12" style="margin:0; border-bottom: 1px solid black; padding-bottom: 20px">
                <h3>{{type}} {{#if timespent}} - <i>{{timespent}}</i> {{/if }}
                    {{#if user_id}}
                        (<i>user_id: </i><i>{{user_id}}</i>)
                    {{/if }}
                </h3>
				<div class="col-md-3">
                    <a href="#">{{name}}</a>
				</div>
				<div class="col-md-9">
					<p>{{created_at}}</p>
				</div>
                <div style="clear: both"></div>
                {{#if message}}
                    <h4>Message</h4>
                    <div class="col-md-12" style="word-break: break-all;">
                        <p>{{message}}</p>
                    </div>
                {{/if }}
                {{#if params}}
                    <h4>Params</h4>
                    <div class="col-md-12" style="word-break: break-all;">
                        <p>{{params}}</p>
                    </div>
                {{/if }}
			</li>
			{{/each}}
		</ul>
	</div>
</template>