<template name="Failedjobs">
	<div class="container">
		<h1>Failed Jobs</h1>
		<ul class="list-unstyled">
			{{#each list}}
			<li class="col-md-12" style="margin:0 0 30px 0">
				<div class="col-md-6">
					<a href="#">{{type}}</a>
					{{#if user_id}}
					 (<i>user_id: </i><i>{{user_id}}</i>)
					{{/if }}
					<p>{{name}}</p>
				</div>
				<div class="col-md-6">
					<p>{{created_at}}</p>
				</div>
				<div class="col-md-12">
					<p>{{message}}</p>
				</div>				
			</li>
			{{/each}}
		</ul>
	</div>
</template>