<template name="MasterLayout">

	<header>
		
		<nav class="navbar navbar-default" role="navigation">
		    <div class="navbar-header">
		        <a class="navbar-brand" href="/">Getmo Logs Monitor</a>
		        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="sr-only">Alternar navegação</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		    </div>
		    <div class="navbar-collapse collapse">
		    	{{#if currentUser}}
			        <ul class="nav navbar-nav">
			            <li class="{{isActiveRoute regex='home'}}">
			            	{{#linkTo route='home.list'}}
			            		Home
			            	{{/linkTo}}
			            </li>
			        </ul>
			        <ul class="nav navbar-nav">
			            <li class="{{isActiveRoute regex='all'}}">
			            	{{#linkTo route='all.list'}}
			            		All Logs
			            	{{/linkTo}}
			            </li>
			        </ul>
	 		        <ul class="nav navbar-nav">
			            <li class="{{isActiveRoute regex='performance'}}">
			            	{{#linkTo route='performance.list'}}
			            		Performance
			            	{{/linkTo}}
			            </li>
			        </ul>
			        <ul class="nav navbar-nav">
			            <li class="{{isActiveRoute regex='failedjobs'}}">
			            	{{#linkTo route='failedjobs.list'}}
			            		Failed Jobs
			            	{{/linkTo}}
			            </li>
			        </ul>
			        <ul class="nav navbar-nav">
			            <li class="{{isActiveRoute regex='oldroutes'}}">
			            	{{#linkTo route='oldroutes.list'}}
			            		Old Routes
			            	{{/linkTo}}
			            </li>
			        </ul>
			    {{/if}}
		        <ul class="nav navbar-nav navbar-right">
		            {{> loginButtons}}
		        </ul>
		    </div>
		    
		</nav>

	</header>

	{{> yield}}

	<footer>
		
	</footer>

</template>